<div class="page-content mt-5 ml-5" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">Dashboard</h4>
                    <div class="">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="#">Mifty</a>
                            </li><!--end nav-item-->
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 bg-primary-subtle text-primary thumb-md rounded-circle">
                                <i class="iconoir-dollar-circle fs-4"></i>
                            </div>
                            <div class="flex-grow-1 ms-2 text-truncate">
                                <p class="text-dark mb-0 fw-semibold fs-14">Total Ventas</p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <h3 class="mt-2 mb-0 fw-bold">$8365</h3>
                            </div>
                            <!--end col-->
                            <div class="col align-self-center">
                                <img src="assets/images/extra/line-chart.png" alt="" class="img-fluid">
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 bg-info-subtle text-info thumb-md rounded-circle">
                                <i class="fa-solid fa-paw"></i>
                            </div>
                            <div class="flex-grow-1 ms-2 text-truncate">
                                <p class="text-dark mb-0 fw-semibold fs-14">N° de Atenciones</p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <h3 class="mt-2 mb-0 fw-bold">10</h3>
                            </div>
                            <!--end col-->
                            <div class="col align-self-center">
                                <img src="assets/images/extra/bar.png" alt="" class="img-fluid">
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 bg-warning-subtle text-warning thumb-md rounded-circle">
                                <i class="iconoir-percentage-circle fs-4"></i>
                            </div>
                            <div class="flex-grow-1 ms-2 text-truncate">
                                <p class="text-dark mb-0 fw-semibold fs-14">Sesiones</p>

                            </div><!--end media-body-->
                        </div><!--end media-->
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <h3 class="mt-2 mb-0 fw-bold">3</h3>
                            </div>
                            <!--end col-->
                            <div class="col align-self-center">
                                <img src="assets/images/extra/donut.png" alt="" class="img-fluid">
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 bg-danger-subtle text-danger thumb-md rounded-circle">
                                <i class="iconoir-hexagon-dice fs-4"></i>
                            </div>
                            <div class="flex-grow-1 ms-2 text-truncate">
                                <p class="text-dark mb-0 fw-semibold fs-14">Promedio Ventas</p>

                            </div><!--end media-body-->
                        </div><!--end media-->
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <h3 class="mt-2 mb-0 fw-bold">$12550</h3>
                            </div>
                            <!--end col-->
                            <div class="col align-self-center">
                                <img src="assets/images/extra/tree.png" alt="" class="img-fluid">
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Promedio de Ingresos</h4>
                            </div><!--end col-->
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a href="#" class="btn bt btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icofont-calendar fs-5 me-1"></i> Este Mes<i class="las la-angle-down ms-1"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#">Hoy</a>
                                        <a class="dropdown-item" href="#">Última Semana</a>
                                        <a class="dropdown-item" href="#">Último Mes</a>
                                        <a class="dropdown-item" href="#">Este Año</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div><!--end card-header-->
                    <div class="card-body pt-0">
                        @* <GraficoDonutHome></GraficoDonutHome> *@

                        <div class="card-body pt-0">
                            <div id="monthly_income" class="apex-charts"></div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            @* card especialista *@
            <!--end col-->
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Especialistas</h4>
                            </div><!--end col-->
                            <div class="col-auto">
                                <div class="img-group d-flex">
                                    <a class="user-avatar position-relative d-inline-block" href="#">
                                        <img src="assets/images/users/avatar-1.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle">
                                    </a>
                                    <a class="user-avatar position-relative d-inline-block ms-n2" href="#">
                                        <img src="assets/images/users/avatar-2.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle">
                                    </a>
                                    <a class="user-avatar position-relative d-inline-block ms-n2" href="#">
                                        <img src="assets/images/users/avatar-4.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle">
                                    </a>
                                    <a class="user-avatar position-relative d-inline-block ms-n2" href="#">
                                        <img src="assets/images/users/avatar-3.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle">
                                    </a>
                                    <a href="" class="user-avatar position-relative d-inline-block ms-1">
                                        <span class="thumb-md shadow-sm justify-content-center d-flex align-items-center bg-info-subtle rounded-circle fw-semibold fs-6">+6</span>
                                    </a>
                                </div>
                                <div id="customers" class="apex-charts"></div>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body pt-0">
                        <div id="customers" class="apex-charts"></div>
                        <div class="bg-light py-3 px-2 mb-0 mt-3 text-center rounded">
                            <h6 class="mb-0"><i class="icofont-calendar fs-5 me-1"></i>  Jueves 28 Noviembre 2024</h6>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!--end col-->
        </div>
        <!--end row-->

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Últimas Mascotas Atendidas</h4>
                            </div><!--end col-->
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a href="#" class="btn bt btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icofont-calendar fs-5 me-1"></i> This Year<i class="las la-angle-down ms-1"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#">Today</a>
                                        <a class="dropdown-item" href="#">Last Week</a>
                                        <a class="dropdown-item" href="#">Last Month</a>
                                        <a class="dropdown-item" href="#">This Year</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div><!--end card-header-->
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th class="border-top-0">Datos</th>
                                        <th class="border-top-0">Edad</th>
                                        <th class="border-top-0">Tipo</th>
                                        <th class="border-top-0">Estado Reproductivo</th>
                                        <th class="border-top-0">Ficha</th>
                                    </tr><!--end tr-->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="https://www.purina.es/sites/default/files/styles/ttt_image_510/public/2024-02/sitesdefaultfilesstylessquare_medium_440x440public2022-09golden20retriever.jpg?itok=48StbVfe" height="40" class="me-3 align-self-center rounded" alt="...">
                                                <div class="flex-grow-1 text-truncate">
                                                    <h6 class="m-0">Wila</h6>
                                                    <a href="#" class="fs-12 text-primary">ID: A3652</a>
                                                </div><!--end media body-->
                                            </div>
                                        </td>
                                        <td>10A 11M <del class="text-muted fs-10"></del></td>
                                        <td>Canino</td>
                                        <td><span class="badge bg-primary-subtle text-primary px-2">Esterilizada</span></td>
                                        <td>
                                            <a href="#"><i class="las la-eye text-secondary fs-18"></i></a>
                                        </td>
                                    </tr><!--end tr-->




                                </tbody>
                            </table> <!--end table-->
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!--end col-->
        </div><!--end row-->
    </div><!-- container -->

</div>

@code {
    
}